<header>
  <h1>Edit Log</h1>
</header>

{{#life_log}}
<article>
  <form action='/{{id}}' method='post'>
    <textarea id='js-log-body' name='log_entry[body]' rows="7" cols="50" class="js-textarea">{{body}}</textarea>
    <br/>
    <input type="submit" value="Save" />
  </form>
  <div id="js-preview" class="markdown">
  </div>
</article>
{{/life_log}}


