{{#life_log}}
<article>
  <h1>{{created_at_title}}</h1>
  <div class="markdown">
    {{{markdown_body}}}
  </div>
  <div class="meta-data">
    <p>Created at: {{created_at_short}}</p>
    <p>Updated at: {{updated_at_short}}</p>
    <p><a href="/{{id}}/edit">edit</a></p>
  </div>
</article>
{{/life_log}}

